/AppFrame.class
/EditFrame.class
/Footer.class
/Header.class
/Main.class
/Task.class
/TaskList.class
/recipeBox.class
/Recipe.class
/RecipeList.class
/recipeBox$Footer.class
/RecipeBox.class
/ActionsList.class
/DialogButtons.class
/EditFrame$1.class
/RecipeDetails.class
